<div class="app-toolbar">
    <app-header></app-header>
</div>
<div #home>
    <app-home></app-home>
</div>
<div>
    <div #apropos>
        <app-about></app-about>
    </div>
    <div #service>
        <app-services></app-services>
    </div>
    <div class="parallax">

        « Wherever smart people work, doors are unlocked. »
        - Steve Wozniak -

    </div>
    <div #experience>
        <app-experience></app-experience>        
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>
<button mat-mini-fab color="accent" (click)="openDialog()">
    <mat-icon>mail_outline</mat-icon>
</button>