<mat-card class="card-about">
    <div class="row">

        <div id="fade-in-about-1" class="col-sm col-md col-lg text">

            Je suis Développeur d'application en Freelance depuis 2020,
            je participe a la conception et a la réalisation d'outil web pour
            les professionnels et grands comptes où je travaille sur toutes les étapes du projet, de la finalisation des
            besoins du client à la mise en production du produit fini.
            Je peux intégrer une équipe (ou travailler seul) sur des projets
            from scratch ou des projets en cours de développement.
            <br />
            J'ai l'habitude et les compétences pour travailler en Agile SCRUM comprenant ces cérémonie, sa philosophie et
            ses outils.
            <br />
            Intégration possible du produit dans des écosystème déjà existant avec des types de communication
            différent tel que REST, SAOP ou Mainframe.
            <br />
            <br />
            <div class="title">Pour ce site :</div>
            J'ai utilisé pour la construction de ce site les outils
            utilisés et appris durant mes missions, avec notamment l'écosystème Java et le Framework Spring pour la
            partie Back-end,
            et l'écosystème Angular et TypeScript pour la partie Front-end.
            Intégration continue à partir d'un repository GitHub et son outil de CI/CD GitHub ACTIONS jusqu'à
            déploiement sur les serveurs.
            <!--<button type="button" class="btn btn-secondary btn-lg button-web-detail" (click)="openDialog()">En savoir
                plus sur ce site</button>-->
        </div>

        <div id="fade-in-about-2" class="col-sm col-md col-lg text">
            <div class="row" *ngFor="let skill of skills">
                {{skill.name}} - {{skill.value}}%
                <mat-progress-bar mode="determinate" color="accent" [value]="skill.value">
                </mat-progress-bar>
            </div>
        </div>

    </div>
</mat-card>