.section-progress {
    width: 20rem;
    margin-top: 1rem;
}

.card-about {
    background-color: #2D2D2D;
}

mat-grid-tile {
    text-transform: none !important;
    text-align: left !important;
    justify-content: flex-start !important ;
    align-items: flex-start !important;
}

.mat-grid-tile .mat-figure {
    text-transform: none !important;
    text-align: left !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
 }