<mat-card class="card-about">
    <div class="row text">

        <div class="col-sm col-md col-lg">

            Développeur en Freelance pour intégrer une équipe sur des projets
            from scratch ou des projets en cours de développement.
            <br />
            Application Web pour les professionnels tournée sur la partie outils de
            gestion type intranet ou outils d'optimisation du travail.
            <br />
            Gestion de projet en Agile SCRUM, utilisant des outils de ticketing tel que Jira.
            Introduction dans des écosystème déjà existant avec des type de communication
            différent tel que REST ou SAOP.
            <br />
            <br />
            <div class="title">Pour ce site :</div>
            Utilisation de l'écosystème Java et du Framework Spring pour la partie Back-end,
            et l'écosystème Angular et TypeScript pour la partie Front-end.
            Intégration continue à partir d'un repository GitHub jusqu'à déploiement sur les serveurs
            AWS.
            Conteneurisation avec Docker et Docker-Compose.
            <button type="button" class="btn btn-secondary btn-lg button-web-detail" (click)="openDialog()">En savoir
                plus sur ce site</button>
        </div>

        <div class="col-sm col-md col-lg">
            <div class="row" *ngFor="let skill of skills">
                {{skill.name}} - {{skill.value}}%
                <mat-progress-bar mode="determinate" color="accent" [value]="skill.value">
                </mat-progress-bar>
            </div>
        </div>

    </div>
</mat-card>