.card-about {
    background-color: #2D2D2D;
    padding: 10rem;
}

.header-div {
    margin-left: 2rem;
}

.header {
    width: 20rem;
    margin-bottom: 2rem;
    position: relative;
    border-radius: 3rem;
    opacity: 0.8;
}

mat-progress-bar {
    margin-bottom: 1rem !important;
}

.button-web-detail {
    margin-top: 5rem;
}

button {
    font-size: 1rem;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    color: #3ca2c5;
}

.text {
    opacity: 0;
}

.fade-in-1 {
    animation: fadein 2s;
}

.fade-in-2 {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

.skill {
    margin-top: 15rem;
    margin-left: 10rem;
}
