.body-component {
    background-color: #6F6E6E;
    text-align: center;
    color: #3B3B3B;
}

.home-text {
    animation: pulse 3s;
    font-size: 2rem;
    color: white;
    position: absolute;
    text-align: center;
    margin-top: -20rem;
    width: 100%;
}

.home-guard {
    width: 65rem;
    height: 33rem;
    position: absolute;
    z-index: 200;
    margin-top: -33rem;
    margin-left: 10rem;
    opacity: 0;
}

@keyframes pulse {
    0% {
        margin-top: -30rem;
        opacity: 0;
    }
    100% {
        margin-top: -20rem;
        opacity: 1;
    }
}
