/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

//We import our custom scss component here

@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$md-accent-theme: (
  50 : #e4f2f7,
    100 : #badeeb,
    200 : #8dc8dd,
    300 : #5fb2cf,
    400 : #3ca2c5,
    500 : #1a91bb,
    600 : #1789b5,
    700 : #137eac,
    800 : #0f74a4,
    900 : #086296,
    A100 : #c3e6ff,
    A200 : #90d2ff,
    A400 : #5dbdff,
    A700 : #43b2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-primary-theme: (
  50 : #eaeaea,
    100 : #cacaca,
    200 : #a6a6a6,
    300 : #828282,
    400 : #686868,
    500 : #4d4d4d,
    600 : #464646,
    700 : #3d3d3d,
    800 : #030303,
    900 : #252525,
    A100 : #f18282,
    A200 : #ec5454,
    A400 : #ff0e0e,
    A700 : #f30000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-warn-theme: (
  50 : #f9e0e0,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$theme-primary: mat-palette($md-primary-theme);
$theme-accent:  mat-palette($md-accent-theme);
$theme-warn:    mat-palette($md-warn-theme);
$theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
//
@include angular-material-theme($theme);

.light {
  $light-primary: mat-palette($md-primary-theme, 200,300, 900);
  $light-accent:  mat-palette($md-accent-theme, 600, 100, 800);
  $light-warn:    mat-palette($md-warn-theme, 600);
  $light-theme: mat-dark-theme($light-primary, $light-accent, $light-warn);
  @include angular-material-theme($light-theme);

}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.mat-step-header .mat-step-icon-selected {
    background-color: #3ca2c5 !important;
}


button:focus{
  border: none !important;
  outline: none !important;
}
