.card-experience {
    background-color: #2D2D2D;
    padding: 10rem;
}

.compagnie {
    color : #3ca2c5;
    font-size: 1.4rem;
}

.description {
    padding-top: 2rem;
    width: 80%;
    text-align: center;
    margin: auto;
}

span:hover {
    cursor: pointer;
    text-decoration: none;
}

span {
    color : #3ca2c5;
    text-decoration: underline;
}

.text {
    opacity: 0;
}

.fade-in-1 {
    animation: fadein 2s;
}

.fade-in-2 {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

