<mat-card class="card-experience">
    <div class="row">
        <div class="col-sm col-md col-lg">

            <mat-card class="experience">
                <mat-card-header>
                    <mat-card-title>
                        <div class="compagnie">
                            Acensi
                        </div>
                    </mat-card-title>
                    <mat-card-subtitle>
                        Sous-traitance à la Société Général
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>

                    <div class="row">
                        <div class="col-sm col-md col-lg date">
                            2018 - 2020
                        </div>
                        <div class="col-sm col-md col-lg"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            Projects :
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            Recherche de Flux
                        </div>
                    </div>
                    <div class="row description">
                        Projet de gestion des recherches de Flux Bancaire
                    </div>
                    <div class="row description">
                        <span> EN SAVOIRE PLUS</span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm col-md col-lg">

            <mat-card class="experience">
                <mat-card-header>
                    <mat-card-title>
                        <div class="compagnie">
                            Acensi
                        </div>
                    </mat-card-title>
                    <mat-card-subtitle>
                        Sous-traitance à la Société Général
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>

                    <div class="row">
                        <div class="col-sm col-md col-lg date">
                            2020 - Aujourd'hui
                        </div>
                        <div class="col-sm col-md col-lg"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            Projects :
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            Recherche et Réquisition
                        </div>
                    </div>
                    <div class="row description">
                        Projet de gestion des recherches de Flux Bancaire et de réquisition judiciaire
                    </div>
                    <div class="row description">
                        <span> EN SAVOIRE PLUS</span>
                    </div>
                </mat-card-content>
            </mat-card>


        </div>
    </div>
</mat-card>