.card-experience {
    background-color: #2D2D2D;
    padding: 10rem;
}

.compagnie {
    color : #3ca2c5;
    font-size: 1.4rem;
}

.description {
    padding-top: 2rem;
    width: 80%;
    text-align: center;
    margin: auto;
}

