<div class="background">
    <div *ngIf="formGroup">
        <div class="experience-form" [formGroup]="formGroup">
            <p>
                <mat-form-field appearance="standard">
                    <mat-label color="accent">Company</mat-label>
                    <input matInput formControlName="company">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label color="accent">Situation</mat-label>
                    <input matInput formControlName="situation">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label color="accent">Start Date</mat-label>
                    <input matInput formControlName="startDate">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label color="accent">End Date</mat-label>
                    <input matInput formControlName="endDate">
                </mat-form-field>
            </p>
            <p>
                <mat-label color="accent">Currently</mat-label>
                <mat-checkbox formControlName="currently"></mat-checkbox>
            </p>



            <div>
                <button *ngIf="!sending" mat-dialog-close type="submit" mat-raised-button color="accent"
                    [disabled]="!formGroup.valid" (click)="submit()">Valider</button>
                <mat-progress-spinner *ngIf="sending" diameter="40" color="accent" mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </div>
    </div>
</div>