.card-about {
    background-color: #4F4F4F;
    padding: 10rem;
}

mat-grid-tile {
    text-transform: none;
    text-align: left;
    justify-content: flex-start !important ;
    align-items: flex-start !important;
}