<mat-card class="card-service">

    <div class="row">
        <div class="col-sm col-md col-lg">
            <mat-card>
                <div class="img-logo">
                    <img src="../../../assets/images/icons/svg/back-end.svg">
                </div>
                <mat-card-header>
                    <mat-card-title>
                        Développeur Back-end
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div class="row">
                        Construction d'une application robuste, scalable et sécuritaire,
                        en répondant au cahiers des charges des besoins client.
                        Utilisation des derniers outils et framework dans le domaine.
                    </div>
                    <div class="row techno">
                        <span>Technologie utilisées : </span>
                        Java, Spring Boot, NoSql et SQL
                    </div>
                </mat-card-content>

            </mat-card>
        </div>
        <div class="col-sm col-md col-lg">
            <mat-card>
                <div class="img-logo">
                    <img src="../../../assets/images/icons/svg/front-end.svg">
                </div>
                <mat-card-header>
                    <mat-card-title>
                        Développeur Web Front-end
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div class="row">
                        Développement d'une UI & partir de maquettes, 
                        communication avec le Back-End pour utilisation des services.
                        Application ergonomique et interactive.
                    </div>
                    <div class="row techno">
                        <span>Technologie utilisées : </span>
                        Angular, Typscript, Rxjs, Bootstrap, Material UI
                    </div>
                </mat-card-content>

            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-sm col-md col-lg">
            <mat-card>
                <div class="img-logo">
                    <img src="../../../assets/images/icons/svg/modelisation.svg">
                </div>
                <mat-card-header>
                    <mat-card-title>
                        Modélisation / Architechture / CI - CD
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div class="row">
                        Construction d'une architecture répondant aux derniers standards,
                        application maintenable et scalable, possibilité de micro-service.
                        Décorrélation entre les différents composent de l'applicatif.
                        Construction d'une chaine d'intégration continue pour optimisation
                        des livraisons en test et / ou en production.
                    </div>
                    <div class="row techno">
                        <span>Technologie utilisées : </span>
                        Spring cloud, API REST-FULL, Jenkins, GitHub Actions, Docker
                    </div>
                </mat-card-content>

            </mat-card>
        </div>
        <div class="col-sm col-md col-lg">
            <mat-card>
                <div class="img-logo">
                    <img src="../../../assets/images/icons/svg/suivit-projet.svg">
                </div>
                <mat-card-header>
                    <mat-card-title>
                        Suivit de projet
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div class="row">
                        Un suivi de projet en Agile SCRUM, avec contacte permanent avec le 
                        client, livraison et démonstration régulières.
                        Possibilité de modification en cours de projet et affinage des besoins.
                        Conseilles d'implémentation et d'interconnexion des besoins métier.
                    </div>
                </mat-card-content>

            </mat-card>
        </div>
    </div>
</mat-card>