mat-label {
      color: white;
      font-size: 1rem;
}

mat-form-field {
    width: 20rem !important;
}

.email-form {
    margin: 0 auto;
    width: 45%;
}

.mail-logo {
    width: 3rem !important;
    position: absolute;
}

.contact-info {
    margin: auto;
    width: 20%;
    text-align: center;
    padding-bottom: 2rem;
}

.mail {
    color: #3ca2c5;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
