<mat-toolbar color="primary">
    <button class="menuButton" mat-icon-button (click)="openSideBare()">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="title">PORTFOLIO</div>
    <div class="right-icons">

        <!-- <mat-slide-toggle color="warn" labelPosition="before">Dark theme</mat-slide-toggle> -->

        <button mat-icon-button (click)="openLinkedinLink()">
            <img src="assets/images/linkedin.svg">
        </button>

        <button mat-icon-button (click)="openLinkedinGithub()">
            <img src="assets/images/github.svg">
        </button>
    </div>
</mat-toolbar>