button {
    background-color: #3ca2c5 !important;
    margin-left: 1rem;
    right: 0;
    bottom: 0;
}

.step-button {
    align-items: auto;
}

.img-java {
    background-image: url('../../../assets/images/icons/java.png');
    background-size: cover;
}

.img-spring {
    background-image: url('../../../assets/images/icons/spring.png');
    background-size: cover;
}

.img-angular {
    background-image: url('../../../assets/images/icons/angular.png');
    background-size: cover;
}

.img-docker {
    background-image: url('../../../assets/images/icons/docker.jpg');
    background-size: cover;
}

.img-aws {
    background-image: url('../../../assets/images/icons/aws.jpg');
    background-size: cover;
}

mat-card-content  {
    width: 60%;
    margin: auto;
    text-align: justify;
    padding: 2rem;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover, a:active, .active {
    color: #3ca2c5;
}
