button {
    background-color: #3ca2c5 !important;
    margin-left: 1rem;
    right: 0;
    bottom: 0;
}

.step-button {
    float: right;
}

.img-spring, .img-angular, .img-docker, .img-aws {
    width: 10rem !important;
}