<mat-horizontal-stepper linear #stepper>
    <mat-step>
        <img src="assets/images/icons/java.png">

        blablabla blablabla
        <div class="step-button">
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <img class="img-spring"  src="assets/images/icons/spring.png">

        blablabla blablabla
        <div class="step-button">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <img class="img-angular" src="assets/images/icons/angular.png">

        blablabla blablabla
        <div class="step-button">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <img class="img-docker" src="assets/images/icons/docker.jpg">

        blablabla blablabla
        <div class="step-button">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <img class="img-aws" src="assets/images/icons/aws.jpg">

        blablabla blablabla
        <div class="step-button">
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>